{% if enablePlaybackRate %}
  <div class="button-container button-menu-container">
    <button
      class="playback-rate-button menu-trigger-button"
      aria-controls="playbackRateOptions"
      aria-label="{{ "playbackRate" | translate }}"
      aria-expanded="false"
      label="{{ "playbackRate" | translate }}"
      aria-live="polite"
      tabindex="0">
      <span class="hide-visually">
        {{ "playbackRate" | translate }}
      </span>

    </button>

    <ul
      id="playbackRateOptions"
      class="button-menu button-menu-selection"
      role="menu">
      {% for pr in playbackRatesArray %}
        <li {% if pr.rate == playbackRate %}class="selected"{% endif %}>
          <button
            class="button-menu-item"
            {% if pr.rate == playbackRate %}aria-checked="true"{% else %}aria-checked="false"{% endif %}
            click="$set:playbackRate:{{pr.rate}}; $set:playing:true"
            aria-label="{{pr.rate}} {{"playbackRate_2"|translate}}"
            label="{{pr.rate}} {{"playbackRate_2"|translate}}"
            role="menuitemradio"
            tabindex="0">{{ pr.label }}</button>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}