{% if hasSlides %}
  <div class="button-container">
    <button class="slides-button" aria-label="{{"Toggle slide overview"|translate}}" label="{{"Toggle slide overview"|translate}}" tabindex="1250">
      
      {% if is_dev %}
        <img src="design/slides@2x.png" srcset="design/slides.svg" />
      {% else %}
        <img src="slides@2x.png" srcset="slides.svg" />
      {% endif %}
  
      <span class="hide-visually">
        {{"Toggle slide overview"|translate}}
      </span>
    
    </button>

    <ul id="slideOptions" class="button-menu button-menu-selection">
      {% for mode in slideModes %}
        <li {% if mode.key == slideMode %}class="selected"{% endif %} click="$set:slideMode:{{mode.key}};">
          <button aria-label="{{mode.display}}" label="{{mode.display}}" role="button" tabindex="1401">{{mode.display}}</button>
        </li>
      {% endfor %}
    </ul>
    
  </div>
{% endif %}
