{% if hasSubtitles and enableSubtitles %}
  <div class="button-container">
    <button
      class="subtitle-button{% if subtitleLocale != empty %} subtitle-button-active{% endif %}"
      aria-controls="subtitleOptions"
      aria-label="{{initialSubtitleAriaLabel|translate}}"
      label="{{"initialSubtitleAriaLabel"|translate}}"
      tabindex="1050">

      <span class="hide-visually">
        {{ "close_captioning" | translate }}
      </span>

      <div class="cc-icon"></div>
      <div class="cc-active-bar-icon"></div>
      <div class="cc-active-icon"></div>
    </button>

    {% if subtitleMenuWidget == 'select' %}
      <select onchange="Player.set('subtitleLocale', this.options[this.selectedIndex].value);">
        {% for l in localesArray %}
          <option {% if l.locale == subtitleLocale %}selected{% endif %} value="{{l.locale}}">{{ l.language }}</option>
        {% endfor %}
        <option {% if subtitleLocale == empty %}selected{% endif %} value="">{{ "none" | translate }}</option>
      </select>
    {% endif %}

    {% if subtitleMenuWidget == 'menu' %}
      <ul
        id="subtitleOptions"
        class="button-menu button-menu-selection"
        role="menu">
        {% for l in localesArray %}
          <li {% if l.locale == subtitleLocale %}class="selected"{% endif %} click="$set:subtitleLocale:{{l.locale}}">
            <button
              {% if l.locale == subtitleLocale %}aria-checked="true"{% else %}aria-checked="false"{% endif %}
              aria-label="{{"closed_captions_in"|translate}} {{l.language}}"
              label="{{"closed_captions_in"|translate}} {{l.language}}"
              role="menuitemradio"
              tabindex="1051">
              {{ l.language }}
            </button>
          </li>
        {% endfor %}
        <li {% if subtitleLocale == empty %}class="selected"{% endif %} click="$set:subtitleLocale:">
          <button
            {% if subtitleLocale == empty %}aria-checked="true"{% else %}aria-checked="false"{% endif %}
            aria-label="{{"disable_closed_captioning"|translate}}"
            label="{{"disable_closed_captioning"|translate}}"
            role="menuitemradio"
            tabindex="1052">
            {{ "none" | translate }}
          </button>
        </li>
      </ul>
    {% endif %}
  </div>
{% endif %}