{% if hasSubtitles and enableSubtitles %}
<button class="tray-button button subtitle-button" aria-controls="subtitleOptions" aria-label="{{"closed_captioning"|translate}}" label="{{"closed_captioning"|translate}}" tabindex="1600">
  <span class="hide-visually">
    {{"closed_captioning"|translate}}
  </span>

  <ul id="subtitleOptions">
    {% for l in localesArray %}
    <li {% if l.locale == subtitleLocale %}class="selected"{% endif %} click="$set:subtitleLocale:{{l.locale}}" aria-label="{{closed_captions_in"|translate}} {{l.language}}" label="{{closed_captions_in"|translate}} {{l.language}}" role="button" tabindex="1601">
      {{l.language}}
    </li>
    {% endfor %}
    <li {% if subtitleLocale == empty %}class="selected"{% endif %} click="$set:subtitleLocale:" aria-label="{{"disable_closed_captioning"|translate}}" label="{{"disable_closed_captioning"|translate}}" role="button" tabindex="1602">
      {{"none"|translate}}
    </li>
  </ul>
</button>
{% endif %}
