{% if showDownload && video_type == "clip" %}
<button class="tray-button button download-button has-list" aria-controls="downloadOptions" aria-label="{{"download_video"|translate}}" label="{{"download_video"|translate}}" tabindex="1500">
  <span class="hide-visually">
    {{"download_video"|translate}}
  </span>
</button>
<ul id="downloadOptions" class="button-list button-bulletless">
  {% for q in downloadQualities %}
    <li onclick="location.href = '{{q.link}}';" aria-label="{{"download"|translate}} {{q.displayName}}" label="{{"download"|translate}} {{q.displayName}}" role="button" tabindex="1501">
      {{"download"|translate}} {{q.displayName}}
    </li>
  {% endfor %}
  </ul>
{% endif %}
