{% if showDownload %}
<div class="tray-button button button-bulletless download-button" aria-controls="downloadOptions" aria-label="{{"download_video"|translate}}" label="{{"download_video"|translate}}" role="button" tabindex="1500">
  <!--Download-->

  <ul id="downloadOptions">
    {% for q in downloadQualities %}
    <li onclick="location.href = '{{q.link}}';" aria-label="{{"download"|translate}} {{q.displayName}}" label="{{"download"|translate}} {{q.displayName}}" role="button" tabindex="1501">
      {{"download"|translate}} {{q.displayName}}
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
