<div class="button-container">
  <button
    class="{% if playing %}{% if isStream %}stop-button{% else %}pause-button{% endif %}{% else %}play-button{% endif %}"
    click="$toggle:playing"
    aria-label="{% if playing %}{{"pause_video_aria"|translate}}{% else %}{{"play_video_aria"|translate}}{% endif %}"
    aria-live="polite"
    label="{% if playing %}{{"pause_video"|translate}}{% else %}{{"play_video"|translate}}{% endif %}"
    tabindex="0">
    {% if playing %}
      <span class="hide-visually">
        {{ "pause_video" | translate }}
      </span>
    {% else %}
      <span class="hide-visually">
        {{ "play_video" | translate }}
      </span>
    {% endif %}
  </button>
</div>