{% if hasAudioDescriptions %}
  <div class="button-container button-menu-container">
    <button
      class="menu-trigger-button audiodescription-button{% if audioDescriptionLocale != empty %} audiodescription-button-active{% endif %}"
      aria-controls="audioDescriptionOptions"
      aria-label="{{initialAudioDescriptionAriaLabel|translate}}"
      label="{{"initialAudioDescriptionAriaLabel"|translate}}"
      aria-expanded="false"
      tabindex="0">

      <span class="hide-visually">
        {{ "audiodescriptions" | translate }}
      </span>

      <div class="audiodescription-icon"></div>
      <div class="audiodescription-active-icon"></div>
    </button>

    <ul id="audioDescriptionOptions" class="button-menu button-menu-selection" role="menu">
      {% for l in audioDescriptionTracksArray %}
        <li {% if l.locale == audioDescriptionLocale %}class="selected"{% endif %} >
          <button
            class="button-menu-item"
            click="$set:audioDescriptionLocale:{{l.locale}}"
            aria-label="{{"audio_descriptions_in"|translate}} {{l.language}}"
            label="{{"audio_descriptions_in"|translate}} {{l.language}}"
            {% if l.locale == audioDescriptionLocale %}aria-checked="true"{% else %}aria-checked="false"{% endif %}
            role="menuitemradio"
            tabindex="0">
            {{ l.language }}
          </button>
        </li>
      {% endfor %}
      <li {% if audioDescriptionLocale == empty %}class="selected"{% endif %}>
        <button
          class="button-menu-item"
          click="$set:audioDescriptionLocale:"
          aria-label="{{"disable_audio_descriptions"|translate}}"
          label="{{"disable_audio_descriptions"|translate}}"
        {% if audioDescriptionLocale == empty%}aria-checked="true"{% else %}aria-checked="false"{% endif %}
          role="menuitemradio"
          tabindex="0">
          {{ "none" | translate }}
        </button>
      </li>
    </ul>

  </div>
{% endif %}