{% if showMenu %}
  <div class="menu-background"></div>
  {% if showLinkBox %}
    <div class="link-box">
      <h3>{% if video_type == "clip" %}{{"share_this_video"|translate}}{% else %}{{"share_this_event"|translate}}{% endif %}</h3>
      <div class="input-wrap">
        <input type="text" value='{{linkBoxValue}}' onclick="$(this).select();" />
      </div>
      <span class="close-link-box" click="$set:showMenu:false">{{"close"|translate}}</span>
      <div class="clear"></div>
    </div>
  {% else %}
    <ul class="menu-list">
      {% if socialSharing %}
        <li><a href="#" onclick="return false;" click="$set:linkBoxValue:url">{% if video_type == "clip" %}{{"get_video_url"|translate}}{% else %}{{"get_event_url"|translate}}{% endif %}</a></li>
        {% if video_type != "stream" %}
          <li><a href="#" onclick="return false;" click="$set:linkBoxValue:url-time">{{"get_video_url_at_current"|translate}}</a></li>
        {% endif %}
        <li><a href="#" onclick="return false;" click="$set:linkBoxValue:embed">{{"get_embed_code"|translate}}</a></li>
        {% if video_type != "stream" %}
          <li><a href="#" onclick="return false;" click="$set:linkBoxValue:embed-time">{{"get_embed_code_at_current"|translate}}</a></li>
        {% endif %}
        <li class="divider"></li>
      {% endif %}
      {% if advancedContextMenu %}
        {% if video_type == "clip" %}
          <li><a href="{{url}}/manage/video/{{video_photo_id}}" target="_new" click="$set:showMenu:false">{{"open_in_admin"|translate}}</a></li>
        {% else %}
          <li><a href="{{url}}/manage/live/{{video_live_id}}" target="_new" click="$set:showMenu:false">{{"open_in_admin"|translate}}</a></li>
        {% endif %}
        <li><a href="#" onclick="return false;" click="$set:linkBoxValue:object-id">{{"get_id"|translate}}</a></li>
        <li><a href="#" onclick="return false;" click="$set:linkBoxValue:object-token">{{"get_token"|translate}}</a></li>
        <li><a href="#" onclick="return false;" click="$set:linkBoxValue:source-link">{{"get_link_to_source"|translate}}</a></li>
        <li><a href="#" onclick="return false;" click="$set:logVideoObject;$set:showMenu:false">{{"log_video_object"|translate}}</a></li>
        <li class="divider"></li>
      {% endif %}
      <li><a href="{{url}}/debug?{{debugParameters}}" target="_new" click="$set:showMenu:false">{{"debug_information"|translate}}</a></li>
      <li><a href="https://www.twentythree.net/help" target="_new" click="$set:showMenu:false">{{"help_center"|translate}}</a></li>
      <li><a href="https://www.twentythree.net/help/design/configure-players" target="_new" click="$set:showMenu:false">{{"twentythree_players"|translate}}</a></li>
      <li><a href="https://www.twentythree.net/" target="_new" click="$set:showMenu:false">{{"about_twentythree"|translate}}</a></li>
    </ul>
  {% endif %}
{% endif %}

