{% if showStreamNotLive %}
  <div class="preview-notlive">
    {{"stream_preview"|translate}}
    <span>{{"not_being_broadcast"|translate}}</span>
  </div>
{% endif %}

{% if showLivePreview %}
  <iframe class="live-banner-iframe" src="{{url}}/banner/live/{{video_live_id}}/{{video_token}}.html?size=player&forever=1&source={{source|url_encode}}" frameborder="0" border="0" scrolling="no"></iframe>
{% endif %}
