{% if hasQualitySwitching %}
<button class="tray-button button quality-button" aria-controls="qualityOptions" aria-label="{{"quality"|translate}}" label="{{"quality"|translate}}" tabindex="1400">
  <span class="hide-visually">
    {{"quality"|translate}}
  </span>

  <ul id="qualityOptions">
    {% for q in qualitiesArray %}
    <li {% if q.quality == quality %}class="selected"{% endif %} click="$set:quality:{{q.quality}}; $set:playing:true"  tabindex="1400" aria-label="{{q.quality}} {{"quality_2"|translate}}" label="{{q.{{"quality_2"|translate}}}} quality" role="button" tabindex="1401">
      {{q.displayName}}
    </li>
    {% endfor %}
  </ul>
</button>
{% endif %}
