{% if hasQualitySwitching and isStream == false %}
  <div class="button-container">
    <button
      class="quality-button"
      aria-controls="qualityOptions"
      aria-label="{% if qualityMenuExpanded %}{{"expanded"|translate}}{% else %}{{"collapsed"|translate}}{% endif %}"
      label="{{ "quality" | translate }}"
      aria-live="polite"
      tabindex="1400">
      <span class="hide-visually">
        {{ "quality" | translate }}
      </span>

    </button>

    <ul
      id="qualityOptions"
      class="button-menu button-menu-selection"
      role="menu">
      {% for q in qualitiesArray %}
        <li {% if q.quality == quality %}class="selected"{% endif %} click="$set:quality:{{q.quality}}; $set:playing:true">
          <button
            {% if q.quality == quality %}aria-checked="true"{% else %}aria-checked="false"{% endif %}
            aria-label="{{q.quality}} {{"quality_2"|translate}}"
            label="{{q.quality}} {{"quality_2"|translate}}"
            role="menuitemradio"
            tabindex="1401">{{ q.displayQuality }}</button>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}