{% if hasQualitySwitching and isStream == false %}
  <div class="button-container button-menu-container">
    <button
      class="quality-button menu-trigger-button"
      aria-controls="qualityOptions"
      aria-label="{{ "quality" | translate }}"
      label="{{ "quality" | translate }}"
      aria-live="polite"
      aria-haspopup="true"
      aria-expanded="false"
      tabindex="0">
      <span class="hide-visually">
        {{ "quality" | translate }}
      </span>

    </button>

    <ul
      id="qualityOptions"
      class="button-menu button-menu-selection"
      role="menu"
      aria-labelledby="quality-button"
      >
      {% for q in qualitiesArray %}
        <li {% if q.quality == quality %}class="selected"{% endif %}>
          <button
            class="button-menu-item"
            click="$set:quality:{{q.quality}}; $set:playing:true"
            {% if q.quality == quality %}aria-checked="true"{% else %}aria-checked="false"{% endif %}
            aria-label="{{q.displayQuality}} {{"quality_2"|translate}}"
            label="{{q.displayQuality}} {{"quality_2"|translate}}"
            role="menuitemradio"
            tabindex="0">{{ q.displayQuality }}</button>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}