{% if showLogo == true and logoSource != empty %}
  <div class="logo" value="stuff" style="
      {% case logoPosition %}
        {% when 'top left' %}
          top:20px;
          left:20px;
          bottom: auto;
          right: auto;
        {% when 'bottom left' %}
          bottom:20px;
          left:20px;
          top:auto;
          right:auto;
        {% when 'bottom right'  %}
          bottom:20px;
          right:20px;
          top:auto;
          left:auto;
        {% when 'top right'  %}
          top:20px;
          right:20px;
          bottom:auto;
          left:auto;
      {% endcase %}
      width: {{logoWidth}}px;
      height: {{logoHeight}}px;
    ">
    <a href="{{siteLink}}">
      <img src="{{logoSource}}" style="opacity:{{logoAlpha}}" />
    </a>
  </div>
{% endif %}
