<div class="big-play-container {% if bigPlaySource != "" %}big-play-custom-container{% endif %}">
  <table width="100%" height="100%"><tr><td width="100%" height="100%" valign="middle" align="center">
    {% if bigPlaySource == empty or bigPlaySource == "" %}
      <div class="button-container">
        <button class="big-play-button" click="$set:playing:true" aria-label="{{"play_video"|translate}}" label="{{"play_video"|translate}}" tabindex="999">
          <span class="hide-visually">
            {{"play_video"|translate}}
          </span>
          
        </button>
      </div>
    {% else %}
      <button class="big-play-button" click="$set:playing:true" aria-label="{{"play_video"|translate}}" label="{{"play_video"|translate}}" tabindex="999">
        
        <img src="{{bigPlaySource|escape}}" alt="" />
        
        <span class="hide-visually">
          {{"play_video"|translate}}
        </span>
        
      </button>
    {% endif %}
  </td></tr></table>
</div>
