<div class="big-play-container big-play-container-position-{{bigPlayPosition}} big-play-container-style-{{bigPlayStyle}} {% if bigPlaySource != "" %}big-play-custom-container{% endif %}">
  {% if bigPlaySource == empty or bigPlaySource == "" %}
    <div class="button-container">
      <button
        class="big-play-button"
        click="$toggle:playing:true"
        aria-label="{{"play_video_aria"|translate}}"
        label="{{"play_video"|translate}}"
        tabindex="0">
        <span class="hide-visually">
          {{ "play_video" | translate }}
        </span>

        <span class="current-time">{{duration|formatTime}}</span>

      </button>
    </div>
  {% else %}
    <button
      class="big-play-button"
      click="$set:playing:true"
      aria-label="{{"play_video_aria"|translate}}"
      label="{{"play_video"|translate}}"
      tabindex="0">

      <img src="{{bigPlaySource|escape}}" alt="" />

      <span class="hide-visually">
        {{ "play_video" | translate }}
      </span>

    </button>
  {% endif %}
</div>
