<div class="big-play-container {% if bigPlaySource != "" %}big-play-custom-container{% endif %}">
        {% if bigPlaySource == empty or bigPlaySource == "" %}
          <div class="button-container">
            <button
              class="big-play-button"
              click="$set:playing:true"
              aria-label="{{"play_video"|translate}}"
              label="{{"play_video"|translate}}"
              tabindex="0">
              <span class="hide-visually">
                {{ "play_video" | translate }}
              </span>

            </button>
          </div>
        {% else %}
          <button
            class="big-play-button"
            click="$set:playing:true"
            aria-label="{{"play_video"|translate}}"
            label="{{"play_video"|translate}}"
            tabindex="0">

            <img src="{{bigPlaySource|escape}}" alt="" />

            <span class="hide-visually">
              {{ "play_video" | translate }}
            </span>

          </button>
        {% endif %}
</div>