{% if browseMode %}
{% if show_social != true and hasRecommendations %}
  <div id="browse">
  <div class="browse-left"></div>
  <div class="browse-right"></div>
  <div class="browse-container">
    <table class="browse-recommendations"><tr>
      {% for stream in streams %}
        {% if stream.liveevent_stream_id != video_liveevent_stream_id %}
          <td class="browse-recommendation browse-recommendation-{{forloop.index0}}" click="$set:browse_liveevent_stream_id:{{stream.liveevent_stream_id}}">
            <img src="{{url}}{{stream.browseThumbnailUrl}}" />
            <div>Live: {{stream.name}}</div>
          </td>
        {% endif %}
      {% endfor %}
      {% for clip in clips %}
        {% if clip.photo_id != video_photo_id %}
          <td class="browse-recommendation browse-recommendation-{{forloop.index0}}" click="$set:browse_photo_id:{{clip.photo_id}}">
            <img src="{{url}}{{clip.browseThumbnailUrl}}" />
            <div>{{clip.title}}</div>
          </td>
        {% endif %}
      {% endfor %}
    </tr></table>
  </div>
  </div>
{% else %}
  <div id="browse">
  <div class="browse-container social-container">
    <table class="browse-recommendations"><tr>
        <td click="$set:shareTo:facebook" class="social-button facebook"></td>
        <td click="$set:shareTo:twitter" class="social-button twitter"></td>
        <td click="$set:shareTo:google" class="social-button google"></td>
        <td click="$set:shareTo:tumblr" class="social-button tumblr"></td>
    </tr></table>
    <div class="share-message">Del denne oplevelse med dine venner</div>
  </div>
  </div>
{% endif %}
{% endif %}
