<div id="browse" class="browse-container">
  <h3>{{ video_title }}</h3>
  <div class="">
    <div class="recommendations-grid">
      {% for rec in recommendations %}
        {% if rec.type == "stream" %}
          <div
            class="recommendation recommendation-live recommendation-{{forloop.index0}}"
            click="$set:browse_live_id:{{rec.live_id}}"
            aria-label="{{rec.name}}"
            label="{{rec.name}}"
            role="button"
            tabindex="0">
            <div class="recommendation-image" style="background-image:url('{{url}}{{rec.browseThumbnailUrl}}');"></div>
            <div class="recommendation-meta">
              <div class="recommendation-title">Live: {{ rec.name | truncate: 40 }}</div>
            </div>
          </div>
        {% endif %}
        {% if rec.type == "clip" %}
          <div
            class="recommendation recommendation-live recommendation-{{forloop.index0}}"
            click="$set:browse_photo_id:{{rec.photo_id}}"
            aria-label="{{rec.title}}"
            label="{{rec.title}}"
            role="button"
            tabindex="0">
            <div class="recommendation-image" style="background-image:url('{{url}}{{rec.browseThumbnailUrl}}');"></div>
            <div class="recommendation-meta">
              <div class="recommendation-title">{{ rec.title | truncate: 40 }}</div>
              <div class="recommendation-duration">{{ rec.video_length | formatTime }}</div>
            </div>
          </div>
        {% endif %}
        {% if rec.type == "empty" %}
          <div class="recommendation recommendation-empty recommendation-{{forloop.index0}}"></div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>