{% if browseMode and hasRecommendations %}
  <div id="browse"><div id="browsesub">
  <div class="browse-left"></div>
  <div class="browse-right"></div>
  <div class="browse-container">
    <table class="browse-recommendations">
      {% for stream in streams %}
        {% if stream.live_id != video_live_id %}
          <tr><td class="browse-recommendation browse-live-recommendation-{{forloop.index0}}" click="$set:browse_live_id:{{stream.live_id}}">
            <img src="{{url}}{{stream.browseThumbnailUrl}}" />
            <div>Live: {{stream.name}}</div>
          </td></tr>
        {% endif %}
      {% endfor %}
      {% for clip in clips %}
        {% if clip.photo_id != video_photo_id %}
          <tr><td class="browse-recommendation browse-ondemand-recommendation-{{forloop.index0}}" click="$set:browse_photo_id:{{clip.photo_id}}">
            <img src="{{url}}{{clip.browseThumbnailUrl}}" />
            <div>{{clip.title}}</div>
          </td></tr>
        {% endif %}
      {% endfor %}
    </table>
  </div>
  </div></div>
{% endif %}
