<div id="sharing" class="sharing-container">

  <div class="sharing-info">
    <h3>{{ "share" | translate }} "{{ video_title }}"</h3>
    <a
      href="{{videoLink}}"
      target="_blank"
      class="sharing-link selectable">{{ videoLink }}</a>
    <div class="current-time-select">
      <div class="checkbox"></div>
      {{ "share_from_current_time" | translate }}
    </div>
  </div>

  <div class="button-container button-container-close">
    <button class="close-button" click="$set:showSharing:false"></button>
  </div>

  <table class="share-buttons-container">
    <tr>
      <td class="share-buttons">
        <div class="button-container">
          <button
            click="$set:shareTo:facebook"
            class="facebook-button"
            aria-label="{{"share_on_facebook"|translate}}"
            label="{{"share_on_facebook"|translate}}"
            tabindex="0">
            {{ "share_on_facebook" | translate }}
          </button>
        </div>
        <div class="button-container">
          <button
            click="$set:shareTo:twitter"
            class="twitter-button"
            aria-label="{{"tweet_this_video"|translate}}"
            label="{{"tweet_this_video"|translate}}"
            tabindex="0">
            {{ "tweet_this_video" | translate }}
          </button>
        </div>
        <div class="button-container">
          <button
            click="$set:shareTo:linkedin"
            class="linkedin-button"
            aria-label="Share on LinkedIn"
            label="Share on LinkedIn"
            tabindex="0">
            {{ "share_on_linkedin" | translate }}
          </button>
        </div>
        {% if source != "site" %}
          <div class="button-container">
            <button
              click="$set:shareTo:site"
              class="more-button"
              aria-label="{{"see_on_site"|translate}}"
              label="{{"see_on_site"|translate}}"
              tabindex="0">
              {{ "more_sharing_options" | translate }}
            </button>
          </div>
        {% endif %}
        {% if showDownload and downloadUrl != "" %}
          <div class="button-container">
            <button onclick="window.location = '{{downloadUrl}}';" class="download-button">
              {{ "download_video" | translate }}
            </button>
          </div>
        {% endif %}
      </td>
    </tr>
  </table>
</div>