{% if showShare %}
<div class="sharing-container">
  <table class="share-embed">
    <tr>
      <td><a href="{{siteLink}}{{video_one}}" class="button site-button" click="$set:playing:false" target="_new">See on page</a></td>
      <td><a href="{{facebookLink}}" class="button facebook-button" target="_new">Share on Facebook</a></td>
      <td><a href="{{twitterLink}}" class="button twitter-button" target="_new">Share on Twitter</a></td>
      <td><a href="{{googleLink}}" class="button google-button" target="_new">Share on Google+</a></td>
      <td class="embed-code">
        <input type="text" value="{{embedCode|escape}}" onclick="$(this).select();" click="$fire:player:sharing:embedengaged"/>
      </td>
    </tr>
  </table>
</div>
{% endif %}
